nameOverride: postgres
fullnameOverride: postgres
instances: 3
resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    memory: 1Gi
storage:
  size: 50Gi
image:
  tag: "15_v0.34.0"
imagePullSecrets:
  - name: "instana-registry"
