nameOverride: clickhouse
fullnameOverride: clickhouse
clickhouse:
  clusters:
    layout:
      replicasCount: 2
keeper:
  replicas: 3
image:
  tag: "24.8.12.28-5-lts-ibm"
imagePullSecrets:
  - name: "instana-registry"
