nameOverride: clickhouse
fullnameOverride: clickhouse
clickhouse:
  clusters:
    layout:
      replicasCount: 2
keeper:
  clusters:
    layout:
      replicasCount: 3
image:
  tag: "24.8.14.39-7-lts-ibm"
  repository: "clickhouse"
imagePullSecrets:
  - name: "instana-registry"
