nameOverride: clickhouse
fullnameOverride: clickhouse
clickhouse:
  clusters:
    layout:
      replicasCount: 2
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: "clickhouse.altinity.com/app"
                  operator: In
                  values:
                    - "chop"
            topologyKey: "kubernetes.io/hostname"
  resources:
    requests:
      cpu: "10000m"
      memory: "20Gi"
    limits:
      memory: "20Gi"
  volumeClaimTemplates:
    # Data storage
    dataStorageClassName: ""  # Storage class for data
    dataStorage: "500Gi"                        # Storage capacity for data

    # Log storage
    logStorageClassName: ""   # Storage class for logs
    logStorage: "50Gi"        # Storage capacity for logs

    # Cold tier storage
    coldStorageClassName: ""  # Storage class for cold tier
    coldStorage: "100Gi"      # Storage capacity for cold tier
keeper:
  clusters:
    layout:
      replicasCount: 3
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchLabels:
                app: clickhouse-keeper
            topologyKey: "kubernetes.io/hostname"
  resources:
    requests:
      cpu: "1000m"
      memory: "2Gi"
    limits:
      memory: "2Gi"
  volumeClaimTemplates:
    # -- Storage class for log.
    logStorageClassName: ""
    # -- Storage capacity for log.
    logStorage: "50Gi"
    # -- Storage class for snapshot.
    snapshotStorageClassName: ""
    # -- Storage capacity for snapshot.
    snapshotStorage: "50Gi"
image:
  tag: "25.8.13.73-1-lts-ibm"
  repository: "clickhouse"
imagePullSecrets:
  - name: "instana-registry"
